@import "responsive.scss";
$primary-font: "Quicksand", sans-serif !important;
$prm-font-size: 12px;

// @charset "utf-8";
@import "~bulma/bulma.sass";

.web-banner {
	background: url("../../../static/banner/swing.jpg");
	height: 650px;
	// background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	span {
		letter-spacing: 0.67em;
		text-transform: uppercase;
		line-height: 2;
		color: #ffffff;
		text-shadow: 1px 2px black;
	}

	h1 {
		font-size: 4em;
		font-weight: 900;
		text-transform: uppercase;
		color: #ffffff !important;
		text-shadow: 1px 2px black;
	}
}

.banner-section{
	.bannet-text h1{
		padding-top: 180px;
	}
}
.wrapper-ds {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 650px;
	position: relative;
	z-index: 2;
}

.columns {
	margin-bottom: 0;
	padding-bottom: 0;
}

.body-author-contents {
	margin: 4em 0;
	// background: #eee;
	padding: 0px;
}

// .heading-quote {
// 	padding: 0 15px;
// 	margin: 3.1em 0;
// 	text-align: justify;

// 	h4 {
// 		font-weight: 100;
// 		line-height: 1.7;
// 		font-size: 20px;
// 		font-style: italic;
// 		margin-top: 49px !important;
// 		font-family: 'Fanwood Text', serif;
// 		color: #0e4e13;
// 		margin: 0 14%;
// 	}
// }

 h4{
	font-weight: 100;
	line-height: 1.7;
	font-size: 20px;
	font-style: italic;
	margin-top: 49px !important;
	font-family: 'Fanwood Text', serif;
	color: #0e4e13; 	
	margin: -41px 14%;
	
}
// .heading-qoute{
// 	.ata-span-fx{
// 		padding-left: 50px;
// 	}
// }

.author-image-container {
	text-align: center;

	img {
		width: 400px;
		border: 12px solid #e0e0db57;
	}
}

.author-philosophy {
	
	padding-top: 10px;
    padding-left: 60px;
    text-align: justify;
    padding-right: 70px;
    font-size: 17px;
    color: #fff !important;
	
}



.article-section {
	p {
		text-align: justify;
		font-size: 20px;
		line-height: 2.2;
		color: #000000;
		margin-bottom: 2em;
	}

	a:hover{
		color: #b4c2ff;
	}
}

.author-name {
	font-size: 26px;
	margin: 2em 16px;
	display: block;
	text-align: center;
	font-weight: bold;

	.author-span-ft {
		display: block;
		font-size: 18px;
		letter-spacing: 4px;
		margin-bottom: 9px;
		color: #6c6c6c;
		text-transform: uppercase;
	}
}

/*About The Book*/
.wrapperMain {
	margin: 123px 0;
	
}

.bookImgContainer {
	text-align: center;

	img {
		// width: 100%;
		padding: 0px;
		margin: 0;
	}
}

.fullSection {
	// padding: 2em 3em;
	line-height: 0;
}

.contentBook,
.fullSection {
	text-align: justify;
	line-height: 2;
	// padding: 2rem;

	p {
		margin: 13px 0 !important;
		line-height: 2;
		// font-size: 15px !important;
	}
}

/*Contact*/
.formInputs {
	margin-top: 11px !important;
	padding: 0.89em 0.246em !important;
	border: 1px solid #d8d6d6 !important;
	color: #000000ee !important;
	border-radius: 1px !important;
	width: 100% !important;
	max-width: 100%;
	background:#fdfdfdc2;
	// background: rgb(20, 20, 20);
}

#form-wrapper,
#textAreaContainer {
	label {
		display: block;
		font-size: 13px;
		letter-spacing: 1px;
		margin-bottom: 13px;
	}
}

.asterisk {
	color: #fd1111;
	padding: 7px;
}

// .contactMessage {
// 	font-size: 25px ;
// 	margin-bottom: 24px !important;
// 	color: #000000;
// }

.flexMainContainer {
	margin: 71px 0;
}

.textArea {
	height: 250px;
	border: 1px solid #cecece;
	width: 100%;
	background: #fdfdfdc2;
	padding: 1%;
	color: rgb(0, 0, 0);
}

.abtiaryButton {
	padding: 13px 74px;
	border: none;
	background: #083151;
	color: #fff;
	text-transform: uppercase;
	margin-top: 39px;
}

.buttonContainer {
	text-align: center;
}

.notValidForm {
	margin-top: 11px !important;
	padding: 1px 6px !important;
	border: 1px solid #ffa8a8ee !important;
	color: #636363ee !important;
	border-radius: 1px !important;
	width: 97% !important;
	max-width: 100%;
}

.invalidMessage {
	color: #e83f3f;
}

.errorHandler {
	background: #f18d8d;
	padding: 18px;
	margin-bottom: 45px;
	border-radius: 7px;
	color: #efff;
}

.spanErrorRequired {
	color: #ff8a8a;
}

.CommentSection {
	margin-bottom: 50px;
}

.content_body_paragraphs {
	margin: 106px 0;
	line-height: 2;
}

.booklinkBlocks {
	background: none !important;
	color: #000 !important;
	box-shadow: none !important;
	line-height: normal !important;
	height: auto;
	margin-top: 20px;
	text-align: right;

	span {
		margin-right: 13px;
		display: block;
		margin-bottom: 16px;
		font-style: italic;
		font-size: 18px;
		color: #000000 !important;
	}

	li {
		list-style: none;
		display: inline-block;
		padding: 0 4px;
	}

	a {
		text-decoration: none;
		background: #e95c2f;
		padding: 4px 15px;
		color: #ffffff !important;
		font-size: 13px;
	}
	
}





.disqus-container-bars {
	margin-top: 87px;
}

/*Forms*/
.formSuccess {
	background: #57c57e;
	padding: 20px;
	margin-bottom: 21px;
	color: #ffffff;
}

.errorForm {
	background: #ffd7d7;
	padding: 20px;
	margin-bottom: 21px;
	color: #ff5a5a;
}

.flex-container-fx {
	max-width: 1000px;
	margin: 0 auto;
	
	
}

/*privacy-policy-content*/
#privacy-policy-content,
#terms-and-conditions-content {
	margin: 7em 0;

	h2 {
		font-size: 2em;
		margin: 1em 0;

		&:after {
			content: '';
			width: 101px;
			height: 2px;
			background-color: #75caff;
			display: block;
			margin: 11px 0;
		}
	}

	p {
		margin-bottom: 1em;
	}
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #000000;
	font-family: $primary-font;
	font-size: $prm-font-size;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #000000;
	font-family: $primary-font;
	font-size: $prm-font-size;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: #000000;
	font-family: $primary-font;
	font-size: $prm-font-size;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #e4e4e4;
	font-family: $primary-font;
	font-size: $prm-font-size;
}

/*DISQUS*/

#thread__wrapper {
	padding: 33px;
}

.contentBook {
	h1 {
		text-align: left;
		font-size: 2.5rem;
		font-weight: 900;
		color: rgb(197, 24, 24) !important;
		line-height: 1;
		text-transform: uppercase;
	}

	h5{
		margin-top:-40px;
	}

	span {
		font-weight: bold;
		color: #383838ee;
		margin: 0.5em 0;
		display: block;
		font-family: 'FS Elliot Pro Bold', serif;
		color: #091337;
		font-style: italic;

		&:after {
			content: '';
			width: 100%;
			background: #ffffffee;
			position: relative;
			display: block;
			height: 4px;
			margin: 22px 2px;
		}
	}

	p {
		margin-top: 3em;
	}
}

.book-container-ft {
	margin-bottom: 4em !important;
}

.info-section-address {
	text-align: center;
	margin: 39px 0;
	border-top: 1px solid rgb(0, 0, 0);

	.address{
		font-size: 17px;
	}

	span {
		display: block;
		font-weight: 100 !important;
		margin: 30px 0px;
		font-size: 15px;
		color: #000000;

		h5 {
			text-align: center;
			margin: 21px 0 !important;
			letter-spacing: 5px;
			text-transform: uppercase;
			color: #000000;
		}

		
		
	}
	a{
		font-size:18px ;
	
	}
}

.logo-ft {
	a {
		color: #fff !important;
	}
}

.meta-other-link {
	color: #fff;

	span {
		margin-left: 15px;
		font-size: 18px;

		a {
			color: #ff5562 !important;
			text-decoration: underline;
		}
	}
}

.sub-heading {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 25px;
	text-shadow: 1px 1px black;

}

#author-name{
	.ata-name {
		color: #000000 ;
		font-family: "augusta-free";
		font-size: 67px;
	}

}
